<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
       {{new-todo-input createTodoAction="createTodo"}}
    </header>
    <section id="main">
        <ul id="todo-list">
          {{#each model as |todo|}}
              {{todo-item item=todo toggleTodoItemAction="toggleTodo"}}
          {{/each}}
        </ul>

        <input type="checkbox" id="toggle-all">
    </section>

    {{todo-list-footer todos=model model=model}}
</section>